{% extends 'base.html' %}


{% block body %}
Profile Photo: <img style="width:120px;" src="{{photo.image.url}}"><br>
Username: {{info.username}}<br>
First Name: {{info.first_name}}<br>
Last Name: {{info.last_name}}<br>
Email: {{info.email}}<br>

Address:  {{info.address}}<br>
Designation:  {{info.designation}}<br><br>
<a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a>
<a href="{% url 'new_blog' %}"><button type="button" class="btn btn-primary">Compose blog </button></a>
<a href="{% url 'view_blogs' %}"><button type="button" class="btn btn-primary">View uploaded blogs</button></a>

{% endblock body %}